.backToHome {
  display: inline-block;
  font-size: 1.5rem;
  transform: rotate(-180deg);
  transition: all 0.2s;
  font-family: unset;

  &:hover {
    transform: rotate(-180deg) translate(2px);
  }
}
