.question {
  li {
    font-weight: 400;
    margin-bottom: 0.8rem;
    line-height: 140%;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.84);
    font-family: "PT Serif", serif;
    font-size: 20px;
  }
}
