.moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  background: rgba(var(--card-rgb), 0.1);
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.5rem;
  overflow: hidden;

  .preview {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }

    &Text {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
  .arrow {
    display: grid;
    place-items: center;
  }

  .showMoreContent {
    max-height: 0;
    transition: all 0.3s ease-in;

    .moreText {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      padding-left: 2rem;
      transition: all 0.3s;
      color: #777778;
      font-size: 18px;
      li {
        margin-top: 0.8rem;
      }
      p {
        margin-top: 0.8rem;
        font-size: 18px;
      }

      li {
        font-size: 16px;
      }
    }
    &[data-show="true"] {
      max-height: 100vh;

      .moreText {
        max-height: 100vh;
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}
